skinparam defaultFontName Lato
skinparam backgroundColor transparent

' copied from https://daniel-siepmann.de/Posts/2016/06/11-read-the-docs-sphinx-plantuml-workflow.html

skinparam note {
    BackgroundColor #F1FFFF
    BorderColor #2980B9
}

skinparam activity {
    BackgroundColor #BDE3FF
    ArrowColor #2980B9
    BorderColor #2980B9
    StartColor #227BC6
    EndColor #227BC6
    BarColor #227BC6
}

skinparam sequence {
    ArrowColor  #2980B9
    DividerBackgroundColor  #BDE3FF
    GroupBackgroundColor    #BDE3FF
    LifeLineBackgroundColor white
    LifeLineBorderColor #2980B9
    ParticipantBackgroundColor  #BDE3FF
    ParticipantBorderColor  #2980B9
    BoxLineColor    #2980B9
    BoxBackgroundColor  #DDDDDD
}

skinparam actorBackgroundColor #FEFEFE
skinparam actorBorderColor    #3C7FC0

skinparam usecaseArrowColor   #3C7FC0
skinparam usecaseBackgroundColor  #FEFEFE
skinparam usecaseBorderColor  #3C7FC0

skinparam classArrowColor #3C7FC0
skinparam classBackgroundColor    #FEFEFE
skinparam classBorderColor    #3C7FC0

skinparam objectArrowColor    #3C7FC0
skinparam objectBackgroundColor   #FEFEFE
skinparam objectBorderColor   #3C7FC0

skinparam packageBackgroundColor  #FEFEFE
skinparam packageBorderColor  #3C7FC0

skinparam stereotypeCBackgroundColor  #ADD1B2
skinparam stereotypeABackgroundColor  #A9DCDF
skinparam stereotypeIBackgroundColor  #B4A7E5
skinparam stereotypeEBackgroundColor  #EB937F

skinparam componentArrowColor #3C7FC0
skinparam componentBackgroundColor    #FEFEFE
skinparam componentBorderColor    #3C7FC0
skinparam componentInterfaceBackgroundColor   #FEFEFE
skinparam componentInterfaceBorderColor   #3C7FC0

skinparam stateBackgroundColor #BDE3FF
skinparam stateBorderColor #2980B9
skinparam stateArrowColor #2980B9
skinparam stateStartColor black
skinparam stateEndColor   black
